{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}

{% block content %}

<div class="layout">

  <!-- LEFT SIDEBAR -->

  <aside class="aside-left">
    <h3>Вопросы</h3>

    {% if post.faqs.exists %}
      <div class="course-group">
        {% for faq in post.faqs.all %}
          <a href="{{ faq.get_absolute_url }}"
            class="faq-link {% if faq.id == post.id %}active{% endif %}">
            {{ faq.title }}
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p class="empty">Пока нет FAQ для этой статьи</p>
    {% endif %}
  </aside>

  <!-- ARTICLE -->
  <article class="article">

    <h1 class="article-title">{{ post.title }}</h1>

    <div class="article-meta">
      <span>{{ post.author }}</span>
      <span>•</span>
      <span>{{ post.date }}</span>
    </div>

    <div class="article-content">
      {{ post.content|safe }}
    </div>


  </article>

  <!-- RIGHT NAVIGATION -->
  <aside class="aside-right">
    <h3>Навигация</h3>

    <nav class="nav">
      {% for heading in toc %}
        <a href="#{{ heading.id }}">{{ heading.title }}</a>
      {% endfor %}
    </nav>
  </aside>

</div>

{% endblock %}
